body{
    background-color: black;
}
.menu{
    display: block;
    background-color: gray;
    bottom: 0px;
    border-style: solid;
    width: 100%; 
    padding: 20px;
}
a{
    color: white;
}
a:hover{
    color: black;
}
h1{
    color: yellow;
}
p{
    color: yellow;
}
.bagunçinha{
    display: inline;
    width: 50%;
    height: 50%;
}
img{
    height: 50%;
    width: 50%;
}